xsd-final/CarClass.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CarClass">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CarClassHash" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="MaxRating" type="xs:short" />
      <xs:element minOccurs="1" maxOccurs="1" name="MinRating" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>