xsd-final/CommerceSessionResultTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="InvalidBasketTrans.xsd" />
  <xs:include schemaLocation="ArrayOfInventoryItemTrans.xsd" />
  <xs:include schemaLocation="CommerceResultStatus.xsd" />
  <xs:include schemaLocation="OwnedCarTrans.xsd" />
  <xs:include schemaLocation="ArrayOfWalletTrans.xsd" />
  <xs:element name="CommerceSessionResultTrans" nillable="true" type="CommerceSessionResultTrans" />
  <xs:complexType name="CommerceSessionResultTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InvalidBasket" type="InvalidBasketTrans" />
      <xs:element minOccurs="0" maxOccurs="1" name="InventoryItems" type="ArrayOfInventoryItemTrans" />
      <xs:element minOccurs="1" maxOccurs="1" name="Status" type="CommerceResultStatus" />
      <xs:element minOccurs="0" maxOccurs="1" name="UpdatedCar" type="OwnedCarTrans" />
      <xs:element minOccurs="0" maxOccurs="1" name="Wallets" type="ArrayOfWalletTrans" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>