xsd-final/InvalidBasketTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="BasketTrans.xsd" />
  <xs:include schemaLocation="ArrayOfInvalidBasketItemTrans.xsd" />
  <xs:complexType name="InvalidBasketTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Basket" type="BasketTrans" />
      <xs:element minOccurs="0" maxOccurs="1" name="InvalidItems" type="ArrayOfInvalidBasketItemTrans" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>