xsd-final/InvalidBasketItemTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="InvalidBasketItemTrans">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Index" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Reason" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>