xsd-final/InventoryTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ArrayOfInventoryItemTrans.xsd" />
  <xs:element name="InventoryTrans" nillable="true" type="InventoryTrans" />
  <xs:complexType name="InventoryTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="InventoryItems" type="ArrayOfInventoryItemTrans" />
      <xs:element minOccurs="1" maxOccurs="1" name="PerformancePartsCapacity" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="PerformancePartsUsedSlotCount" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="SkillModPartsCapacity" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="SkillModPartsUsedSlotCount" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="VisualPartsCapacity" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="VisualPartsUsedSlotCount" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>