xsd-final/PersonaMotto.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="PersonaMotto" nillable="true" type="PersonaMotto" />
  <xs:complexType name="PersonaMotto">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="message" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="personaId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>