xsd-final/ProductTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:include schemaLocation="ArrayOfProductTrans.xsd" />
  <xs:element name="ProductTrans" nillable="true" type="ProductTrans" />
  <xs:complexType name="ProductTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="BundleItems" type="ArrayOfProductTrans" />
      <xs:element minOccurs="0" maxOccurs="1" name="CategoryId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Currency" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Description" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="DurationMinute" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Hash" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Icon" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="LongDescription" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Price" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Priority" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductId" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductTitle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ProductType" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SecondaryIcon" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="UseCount" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="VisualStyle" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebIcon" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="WebLocation" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>