xsd-final/UdpRelayCryptoTicket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UdpRelayCryptoTicket" nillable="true" type="UdpRelayCryptoTicket" />
  <xs:complexType name="UdpRelayCryptoTicket">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="CryptoTicket" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="SessionKey" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="TicketIv" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>