xsd-final/VisualPartTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="VisualPartTrans">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PartHash" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SlotHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>