xsd/Victory.TransferObjects.User.ProfileData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ProfileData" nillable="true" type="ProfileData" />
  <xs:complexType name="ProfileData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Boost" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Cash" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="IconIndex" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Level" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Motto" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Name" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="PercentToLevel" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonaId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rating" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="Rep" type="xs:double" />
      <xs:element minOccurs="1" maxOccurs="1" name="RepAtCurrentLevel" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="ccar" type="ArrayOfPersonaCCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfPersonaCCar">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonaCCar" nillable="true" type="PersonaCCar" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="PersonaCCar">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="CCID" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Durability" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Heat" type="xs:float" />
      <xs:element minOccurs="1" maxOccurs="1" name="IsDefault" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="PersonaId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>