xsd/Victory.DataLayer.Serialization.Social.UserPersonaMapList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserPersonaMapList" nillable="true" type="UserPersonaMapList" />
  <xs:complexType name="UserPersonaMapList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="map" type="ArrayOfUserPersonaMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfUserPersonaMap">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UserPersonaMap" nillable="true" type="UserPersonaMap" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UserPersonaMap">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="personaId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="userId" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>