xsd/Victory.DataLayer.Serialization.GetPermanentSessionData.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="GetPermanentSessionData" nillable="true" type="GetPermanentSessionData" />
  <xs:complexType name="GetPermanentSessionData">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="machineID" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="version" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>