xsd/Victory.DataLayer.Serialization.CommerceItemTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="CommerceItemTrans" nillable="true" type="CommerceItemTrans" />
  <xs:complexType name="CommerceItemTrans">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Hash" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Title" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>