xsd/Victory.Service.configuration.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="configuration" nillable="true" type="configuration" />
  <xs:complexType name="configuration">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="gameserver" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="webserver" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="regions" type="ArrayOfRegion" />
      <xs:element minOccurs="0" maxOccurs="1" name="cdn" type="Cdn" />
      <xs:element minOccurs="0" maxOccurs="1" name="termsofservice" type="TermsOfService" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfRegion">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="region" nillable="true" type="region" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="region">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="name" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="Cdn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="game" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="launcher" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="TermsOfService">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="en" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="de" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="es" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="fr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="pl" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="pt" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ru" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="th" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="tr" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="zh" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="zh_chs" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>