xsd/Victory.Service.Objects.AchievementProgress.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="AchievementProgress" nillable="true" type="AchievementProgress" />
  <xs:complexType name="AchievementProgress">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="AchievementDefinitionId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="CurrentValue" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>