xsd/Victory.Service.P2PCryptoTicket.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="P2PCryptoTicket" nillable="true" type="P2PCryptoTicket" />
  <xs:complexType name="P2PCryptoTicket">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="PersonaId" type="xs:long" />
      <xs:element minOccurs="0" maxOccurs="1" name="SessionKey" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>