xsd/Victory.Service.Objects.ErrorReport.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ErrorReport" nillable="true" type="ErrorReport" />
  <xs:complexType name="ErrorReport">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="errorCode" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="errorDescription" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>