xsd/Victory.Service.Objects.ShardInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShardInfo" nillable="true" type="ShardInfo" />
  <xs:complexType name="ShardInfo">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="RegionId" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="RegionName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="ShardName" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Url" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>