xsd/Victory.Service.Objects.StatNameList.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="StatNameList" nillable="true" type="StatNameList" />
  <xs:complexType name="StatNameList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Stats" type="ArrayOfString" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfString">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="string" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>