xsd/Victory.Service.Cdn.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Cdn" nillable="true" type="Cdn" />
  <xs:complexType name="Cdn">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="game" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="launcher" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>