xsd/Victory.DataLayer.Serialization.Credentials.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Credentials" nillable="true" type="Credentials" />
  <xs:complexType name="Credentials">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Email" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Password" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>