xsd/Victory.Service.Objects.BadgeBundle.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BadgeBundle" nillable="true" type="BadgeBundle" />
  <xs:complexType name="BadgeBundle">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Badges" type="ArrayOfBadgeInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBadgeInput">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BadgeInput" nillable="true" type="BadgeInput" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BadgeInput">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="BadgeDefinitionId" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="SlotId" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>