xsd/Victory.Service.Objects.ShortcutUsage.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ShortcutUsage" nillable="true" type="ShortcutUsage" />
  <xs:complexType name="ShortcutUsage">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="shortCut" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="timesUsed" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>