xsd/Victory.DataLayer.Serialization.Event.Reward.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Reward" nillable="true" type="Reward" />
  <xs:complexType name="Reward">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="Rep" type="xs:int" />
      <xs:element minOccurs="1" maxOccurs="1" name="Tokens" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>