xsd/Victory.DataLayer.Serialization.LauncherEndTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="LauncherEndTrans" nillable="true" type="LauncherEndTrans" />
  <xs:complexType name="LauncherEndTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="leaveReasonID" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="patchTime" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="userID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>