xsd/Victory.DataLayer.Serialization.Event.EventTimingOut.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="EventTimingOut" nillable="true" type="EventTimingOut" />
  <xs:complexType name="EventTimingOut">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EventSessionId" type="xs:long" />
      <xs:element minOccurs="1" maxOccurs="1" name="TimeInMilliseconds" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>