xsd/Victory.DataLayer.Serialization.SkillModPartTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SkillModPartTrans" nillable="true" type="SkillModPartTrans" />
  <xs:complexType name="SkillModPartTrans">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="IsFixed" type="xs:boolean" />
      <xs:element minOccurs="1" maxOccurs="1" name="SkillModPartAttribHash" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>