xsd/Victory.DataLayer.Serialization.Token.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="Token" nillable="true" type="Token" />
  <xs:complexType name="Token">
    <xs:sequence>
      <xs:element minOccurs="1" maxOccurs="1" name="EualaAccepted" type="xs:boolean" />
      <xs:element minOccurs="0" maxOccurs="1" name="Region" type="xs:string" />
      <xs:element minOccurs="0" maxOccurs="1" name="Value" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>