xsd/Victory.Service.SecurityChallenge.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecurityChallenge" nillable="true" type="SecurityChallenge" />
  <xs:complexType name="SecurityChallenge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ChallengeId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="LeftSize" type="xs:int" />
      <xs:element minOccurs="0" maxOccurs="1" name="Pattern" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="RightSize" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>