xsd/Victory.Service.Objects.SecurityResponse.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="SecurityResponse" nillable="true" type="SecurityResponse" />
  <xs:complexType name="SecurityResponse">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ChallengeId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Result" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>