xsd/Victory.TransferObjects.DriverPersona.UserIdArray.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UserIdArray" nillable="true" type="UserIdArray" />
  <xs:complexType name="UserIdArray">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="UserIds" type="ArrayOfLong" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfLong">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="long" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>