xsd/Victory.DataLayer.Serialization.BasketTrans.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="BasketTrans" nillable="true" type="BasketTrans" />
  <xs:complexType name="BasketTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Items" type="ArrayOfBasketItemTrans" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="ArrayOfBasketItemTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="BasketItemTrans" nillable="true" type="BasketItemTrans" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="BasketItemTrans">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="ProductId" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Quantity" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>