xsd/Victory.DataLayer.Serialization.UdpRelayInfo.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="UdpRelayInfo" nillable="true" type="UdpRelayInfo" />
  <xs:complexType name="ArrayOfUdpRelayInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="UdpRelayInfo" nillable="true" type="UdpRelayInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:complexType name="UdpRelayInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="Host" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="Port" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>