xsd/Victory.DataLayer.Serialization.ClientConfig.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="ClientConfig" nillable="true" type="ClientConfig" />
  <xs:complexType name="ClientConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="1" name="group" type="xs:string" />
      <xs:element minOccurs="1" maxOccurs="1" name="level" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
</xs:schema>